/* 1.селектор тегу */
a {
	color: blue;
}

/* 2. селектор id */
#top {
	color: rgb(49, 6, 109);
}

/* 3. селектор класу */
.classification-of-games {
	color: rgb(195, 78, 146);
}

/* 4. селектор * зірочка -  до всіх обєктів - не хочу використовувати, бо не буде видно інших

* {
	color: darkslategray;
} 
*/


/* комбінації селекторів */

/* 1. усі h4 з класом text */
h4.text {
	color: darkred;
}

/* 2. усі теги з класами text i species одночасно*/
.text.species {
	color: darkgoldenrod;
}


/* каскадність (вкладеність) селекторів */

/* 1. усі теги p всередині обєктів з класом text */

.text p{
	color: red;
}

/* 2. усі теги p першого рівня (безпосередні) всередині обєктів з класом text */

.text > p{
	color:rgb(71, 4, 72);
}

/* 3. усі теги p, які знаходяться далі по коду після обєктів з класом text та мають той самий рівень вкладеності */

.text ~ h2{
	color: rgb(5, 77, 7);
}

/* 4. тег p, який знаходяться безпосередьо далі по коду після обєктів з класом text та має той самий рівень вкладеності */

.text + h2{
	color: rgb(184, 12, 135);
}

/* 5. усі обєкти всередині обєктів з класом link */

.link *{
	color: goldenrod;
}

/* 6. до кількох класів одночасно*/

.listone,
.listtwo,
.listthree,
.listfour {
	color: rgb(16, 147, 234);
}






